<?xml version="1.0"?>
 
<config>
    <modules>
        <Montrichard_Cyo>
            <version>0.1.0</version>
        </Montrichard_Cyo>
    </modules>    
    <frontend>
        <routers>
            <Montrichard_Cyo_montrichard-cyo>
                <use>standard</use>
                <args>
                    <module>Montrichard_Cyo</module>
                    <frontName>inchoo-hellodeveloper</frontName>
                </args>
            </Montrichard_Cyo_montrichard-cyo>
        </routers>
    </frontend>    
</config>